<table class="datatable">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Date</th>
      <th>Type</th>
      <th>Weight</th>    
      <th>Reps</th>
    </tr>
  </thead>
  <tbody>
  {% for e in entries %}
  {% with e.record as r %}
  <tr>
    <td><p><a href="{% url 'lifts_edit_entry' e.id %}"><span class="glyphicon glyphicon-edit"/></a></p></td>
    <td>{{ e.formatted_date }}</td>
    <td>{{ r.lift_type }}</td>
    <td>{{ r.weight }} pounds</td>
    <td>{{ r.reps }}</td>
  </tr>
  {% endwith %}
  {% endfor %}
 </tbody>
</table>
