{% extends 'base.html' %}
{% block content %}
    <div class="container">
      {% include 'includes/notification.html' %}
      <form class="form-signin" action="{% url 'login' %}" method="post">
        <h2 class="text-center form-signin-heading">Please sign in</h2>
	{% csrf_token %}
	{{ form.as_p }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  </form>

      <hr>
      <p> Forgot your password? Reset it <a href="{% url 'password_reset_recover' %}">here.</a></p>
    </div>
    <hr>
{% endblock %}
