{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
   <link rel="shortcut icon" type="image/png" 
          href="{% static 'images/favicon.ico' %}"/>
    <meta charset="utf-8">
    <title>{% block title %}Strength Guild Iron Open{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/ironopen.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to ironopen.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Strength Guild Iron Open</a>
        </div>
        <div class="collapse navbar-collapse">
	  <!-- <div class="navbar-text">Welcome, {{ request.user.username }}!</div> -->

          <ul class="nav navbar-nav">
            <li><a href="{% url 'records' %}">Leaderboard</a></li>
            <li><a href="{% url 'acct_edit' %}">My Account</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block main_container %}
    <div class="container">

      <h1>{% block page_title %}Home{% endblock page_title %}</h1>
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
	    <p>{{ message }}</p>
      </div>
      {% endfor %}
      {% endif %}
      {% block content %}
      <div class="row">
	{% block sub_menu %}
	{% endblock sub_menu %}
	<div class="col-md-10">
	  <div class="panel panel-default">
	    <div class="panel-body">
	      {% block rt-panel %}
	      {% endblock rt-panel %}
	    </div>
	  </div>
	</div>
      {% endblock content %}
    </div> <!-- /container -->
      {% endblock main_container %}
      <footer class="footer">
	<div class="container">
	  <div class="row">
	    <p class="text-center">Copyright 2016. All rights reserved.</p>
	    <p class="text-center"><a href="#">Terms and conditions</a></p>
	  </div>
	</div>
      </footer>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/ironopen.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
